<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-tetherinfo"
        version="0.1.0">

  <name>TetherInfo</name>
  <description>TetherInfo plugin for Cordova/Phonegap</description>
  <author>Jonas Olmstead</author>
  <keywords>cordova,plugin,network,tether,usb</keywords>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <asset src="www/tetherinfo.js" target="js/tetherinfo.js"/>

  <js-module src="www/tetherinfo.js" name="TetherInfo">
    <clobbers target="cordova.plugins.tetherinfo" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TetherInfo">
        <param name="android-package" value="se.easyserv.plugin.TetherInfo"/>
      </feature>
    </config-file>

    <source-file src="src/android/TetherInfo.java" target-dir="src/se/easyserv/plugin/"/>
  </platform>

  <platform name="ios">
    <preference name="swift-version" value="2.3" />
    <preference name="UseLegacySwiftLanguageVersion" value="true" />

    <config-file target="config.xml" parent="/*">
      <feature name="TetherInfo">
        <param name="ios-package" value="TetherInfo" />
      </feature>
    </config-file>
    <source-file src="src/ios/TetherInfo.swift" />
  </platform>

</plugin>
